<% include ./partials/headerone%>

<h1 style="margin-bottom: 50px;margin-top: 60px" class="text-center">Alpacadamia Blog</h1>

<div class="container">
    
        <% blogs.forEach(function(blog) { %>
            <div class="row row-centered">
            <div class="col-6 col-centered">
                <img class="img-thumbnail smallpics" src="<%=blog.image%>" style="margin-left:20px">
                
            </div>
            <div class="col-6 col-centered">
                <h3><%= blog.title %></h3>
                <h6><%= blog.subtitle %></h6>
                <span><%=blog.created.toDateString()%></span>
                <a class="btn-md btn btn-primary float-right" style="margin-right:20px"  href="/blogs/<%= blog._id %>">Read More</a>
            </div>
            </div>
            <div class="row row-centered">
                <div class="col-6 col-centered">
                    
                </div>
                
            </div>
            <div class="col-12">
                <hr style="background: white; border: 2px; height: 2px; width: auto">
           </div>
           

        
    <% }) %>
    
</div>

<% include partials/footer %>